@model IEnumerable<Crud_LuisMoraes.Models.Estabelecimentos>

@{
    ViewBag.Title = "Estabelecimentos";
}

<h2>Teste Ajax</h2>




<body>
    <p>
        Informe seu nome
        <br />
        @Html.TextBox("Nome")
    </p>
    <p>
        Informe seu endereço
        <br />
        @Html.TextBox("Endereco")
    </p>
    <input type="button" value="Salvar" id="Salvar" />
    <span id="msg" style="color:red;" />
</body>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $('#Salvar').click(function () {
            var url = "/Estabelecimentos/SubmeterInscricao";
            var nome = $("#Nome").val();
            var endereco = $("#Endereco").val();
            $.post(url, { Nome: nome, Endereco: endereco }, function (data) {
                $("#msg").html(data);
            });
        })
    </script>


    <script type="text/javascript"
            src="~/Scripts/jquery-ui.js">
    </script>


    <script type="text/javascript">
        $(function () {
            $("#accordion").accordion();
        });
    </script>




}
